h1, h2 {
    text-align: center;
    color: blue;
}

body {
    background-color: rgba(190, 230, 190, 0.932);
}

.deltakere {
    border: black;
    margin: 25px;
    padding: 70px;
    background-color: white;
    box-shadow: 1.9px 2.2px;
}

h2 {
    position: relative;
    top: -40px;
}

.hensikt {
    border: black;
    margin: 25px;
    padding: 70px;
    background-color: white;
    box-shadow: 1.9px 2.2px;
}

.kart {
    border: black;
    margin: 25px;
    padding: 70px;
    background-color: white;
    box-shadow: 1.9px 2.2px;
}

#kart2 {
    border: 2px solid black;
    margin: 5px;
    padding: 14px;
}
#index {
    grid-area: index;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#s {
    grid-area: s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#tre {
    grid-area: tre;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#x {
    grid-area: x;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#y {
    grid-area: y;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#cybertruck {
    grid-area: cybertruck;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#roadster {
    grid-area: roadster;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#admin {
    grid-area: admin;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}


#bs {
    grid-area: bs;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#btre {
    grid-area: btre;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#bx {
    grid-area: bx;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#by {
    grid-area: by;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#bcybertruck {
    grid-area: bcybertruck;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#broadster {
    grid-area: broadster;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#insert {
    grid-area: insert;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#kart2 {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px;
    grid-gap: 50px;
    
    
  
    grid-template-areas:
      ". . . index . . ."
      "s tre x y cybertruck roadster admin"
      "bs btre bx by bcybertruck broadster insert"

}

.dbdiagram {
    border: black;
    margin: 25px;
    padding: 70px;
    background-color: white;
    box-shadow: 1.9px 2.2px;
}