#bildet {
  position: absolute;
  left: 0;
  background-image: ;
}

body {
  background-image: url(../Bilder/modelx.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.modelx {
  width: 100%;
  min-width: 1200px;
  orientation: landscape;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.text {
  position: absolute;
  top: 35px;
  left: 65px;
  font-size: 43px;
  font-family: roboto;
  text-align: center;
}

.text2 {
  position: absolute;
  top: 85px;
  left: 45px;
  font-size: 43px;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
}

@font-face {
  src: url(../Fonts/Roboto-Thin.ttf);
  font-family: roboto;
}
