body {
  background-image: url(../Bilder/y.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.text {
  position: absolute;
  top: 20px;
  left: 70px;
  font-size: 43px;
  font-family: roboto;
  text-align: center;
  color: black;
}

.text2 {
  position: absolute;
  top: 70px;
  left: 50px;
  font-size: 43px;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  color: black;
}

@font-face {
  src: url(../Fonts/Roboto-Thin.ttf);
  font-family: roboto;
}
