body {
  background-image: url(../Bilder/cybertruck3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.modelx {
  width: 100%;
  min-width: 1200px;
  orientation: landscape;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.text {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 43px;
  font-family: roboto;
  text-align: center;
  color: black;
}

.text2 {
  position: absolute;
  top: 80px;
  left: 50px;
  font-size: 43px;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  color: black;
}

@font-face {
  src: url(../Fonts/Roboto-Thin.ttf);
  font-family: roboto;
}
