.tesla {
  position: relative;
  width: 50px;
}

body {
  background-image: url(../Bilder/tesla.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.text {
  position: absolute;
  top: 105px;
  left: 65px;
  font-size: 43px;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  color: white;
}

