body {
    background-image: url(../Bilder/teslacockpit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#main {
    background-color: whitesmoke;
    width: 400px;
    height: 300px;
    border-radius: 7%;
    position: fixed;
    top: 32vh;
    left: 37vw;
    border: grey solid 5px;
}

#logginn {
    margin-left: 130px;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#name {
    margin-top: 10px;
    margin-left: 100px;
    width: 200px;
    height: 30px;
    border-radius: 2rem;
}

#sub {
    width: 220px;
    height: 50px;
    margin-left: 95px;
    margin-top: 30px;
    border-radius: 2rem;
    background-color: lightblue;
}

#password {
    margin-left: 100px;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border-radius: 2rem;
}