body {
    background-image: url(../Bilder/roadster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .modelx {
    width: 100%;
    min-width: 1200px;
    orientation: landscape;
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .text {
    position: absolute;
    top: 35px;
    left: 65px;
    font-size: 43px;
    font-family: roboto;
    text-align: center;
    color: rgb(179, 5, 5);
  }
  
  .text2 {
    position: absolute;
    top: 85px;
    left: 45px;
    font-size: 43px;
    font-family: roboto;
    font-weight: bold;
    text-align: center;
    color: red;
  }
  
  @font-face {
    src: url(../Fonts/Roboto-Thin.ttf);
    font-family: roboto;
  }
.bestille {
  position: absolute;
  top: 600px;
  left: 60vw;
}

.bestille a {
  font-size: 43px;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  color: red;
  text-decoration: none;
}
.bestille:hover {
  transform: scale(1.1);
}

/* unvisited link */
.bestille:link {
  color: red;
}

/* visited link */
.bestille:visited {
  color: red;
}

/* mouse over link */
.bestille:hover {
  color: red;
}

/* selected link */
.bestille:active {
  color: red;
}

