body {
  background-image: url(../../Bilder/modelx.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.text {
  position: absolute;
  top: 35px;
  left: 75px;
  font-size: 43px;
  font-family: roboto;
  text-align: center;
  color: black;
}

.text2 {
  position: absolute;
  top: 85px;
  left: 55px;
  font-size: 43px;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  color: black;
}

@font-face {
  src: url(../Fonts/Roboto-Thin.ttf);
  font-family: roboto;
}

@font-face {
  src: url(../Fonts/Heit3.ttf);
  font-family: heit;
}
